body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: #0056b3 solid 0.25px;
  border-radius: 20px;
}

h1 {
  color: #0056b3;
  justify-content: center;
  display: flex;
}
h2 {
  color: #144f93;
  justify-content: center;
  display: flex;
}

form {
  padding-bottom: 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #0056b3 solid 0.25px;
  border-radius: 20px;
}

.input-container {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #0056b3;
  display: flex;
  justify-content: center;
  align-items: ce;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0;
  padding-right: 0;
}
textarea {
  width: 400px;
  height: 100px;
}

.btn-submit {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.posts-container {
  display: flexbox;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.post-card {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-title {
  color: #080a9cd7;
  margin-bottom: 10px;
}

.post-body {
  color: #555;
  margin-bottom: 15px;
}

.btn-delete {
  padding: 8px 12px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #c82333;
}
